/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

:root{
    --bg_color: #222222;
    --primary: #5f60b3;
    --secondary: #e7e7e7;
    --tertiary: #7d7d7d;
    --bg_gradient: radial-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.84));
    --ease_out: 0.5s ease-out;
}


/* Customized scrollbar */
::-webkit-scrollbar{
    width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track{
    background: #323232;
    opacity: 0.6;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb{
    background: #404040;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background: #3f3f3f;
}

/* ===================X Global Button Styling X=================== */
.primary_btn{
    border: 2px solid rgba(95, 96, 179, 0.35);
    background: rgba(95, 96, 179, 0.3);
    color: var(--secondary);
    box-shadow:  2px 2px 6px #131313,
                -2px -2px 6px #3f3f3f;
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 13px 35px;
    transition: var(--ease_out);
    cursor: pointer;
}
.primary_btn:hover{
    background: transparent;
    color: var(--primary);
    border: 2px solid rgba(95, 96, 179, 0.55);
    box-shadow:  2px 2px 8px #131313,
                -2px -2px 8px #3f3f3f;
    /* border: 2px solid #3f3f3f; */
}
.secondary_btn{
    background: transparent;
    color: var(--primary);
    border: 2px solid rgba(95, 96, 179, 0.55);
    box-shadow:  2px 2px 8px #131313,
                -2px -2px 8px #3f3f3f;
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 12px 35px;
    transition: var(--ease_out);
    cursor: pointer;
}
.secondary_btn:hover{
    border: 2px solid rgba(95, 96, 179, 0.35);
    background: rgba(95, 96, 179, 0.3);
    color: var(--secondary);
    box-shadow:  2px 2px 6px #131313,
                -2px -2px 6px #3f3f3f;
}
.tertiary_btn{
    background: transparent;
    border: none;
    color: var(--primary);
    font-size: 1.15rem;
    color: var(--primary);
    padding: 10px 20px;
    transition: var(--ease_out);
    cursor: pointer;
}
.tertiary_btn:hover{
    color: var(--primary);
    opacity: 0.85;
}




/* ===================X Main Section X=================== */

/* Main Section */
.main_section{
    width: 100%;
    min-height: 100vh;
    background: var(--bg_color);
    overflow: hidden;
}

nav{
    width: 100%;
    height: auto;
    padding: 25px 60px;
    border-radius: 0px;
    background: linear-gradient(225deg, #1f1f1f, #242424);
    box-shadow:  -.5px .5px 15px #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo_section{
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--primary);
    letter-spacing: 0.05rem;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2.0rem;
}
nav ul li a{
    color: var(--tertiary);
    font-size: 1.12rem;
    font-weight: 500;
    transition: var(--ease_out);
    border-bottom: 3px solid transparent;
    letter-spacing: 0.02rem;
    border-radius: 2px;
    padding-bottom: 0.3rem;
}
nav ul li a:hover{
    color: var(--primary);
    font-size: 1.12rem;
    font-weight: 500;
    border-bottom: 3px solid var(--primary);
    letter-spacing: 0.02rem;
    border-radius: 2px;
}
nav ul li .active{
    color: var(--primary);
    font-size: 1.12rem;
    font-weight: 500;
    border-bottom: 3px solid var(--primary);
    letter-spacing: 0.02rem;
    border-radius: 2px;
}



/* Hero Section */
.hero_section{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid rgba(95, 96, 179, 0.08);
}
.hero_section .img_box{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid #3e3e3e;
    box-shadow: 2px 2px 14px #272727, 
                -2px -2px 14px #3e3e3e;
    overflow: hidden;
    margin-bottom: 1.5rem;
}
.img_box .user_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 4px 4px 20px #3c3c3c, 
                -4px -4px 20px #3e3e3e;
}
.hero_section .user_info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.4rem;
    margin-bottom: 2.2rem;
}

.user_info .fullname{
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: var(--secondary);
}
.user_info .professional{
    font-size: 1.65rem;
    font-weight: 550;
    letter-spacing: 0.05rem;
    color: var(--primary);
}

.hero_section .social_account{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
}
.social_account .social_box{
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9),
                -5px -5px 10px rgba(255, 255, 255, 0.15);
    font-size: 1.5rem;
    color: var(--primary);
    transition: var(--ease_out);
}
.social_account .social_box:hover{
    box-shadow: inset 8px 8px 10px rgba(0, 0, 0, 0.5),
                inset -8px -8px 10px rgba(255, 255, 255, 0.5);
    color: var(--bg_color);
}

/* Global Padding and Tag section */
.main_padding{
    padding: 100px;
}
.tag{
    font-size: 2.5rem;
    color: var(--secondary);
    font-weight: 600;
    letter-spacing: 0.02rem;
    margin-bottom: 3.0rem;
}


/* About Section */
.about_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 4.2rem;
    row-gap: 2.5rem;
}
.about_section .tag{
    font-size: 2.5rem;
    color: var(--secondary);
    font-weight: 600;
    letter-spacing: 0.02rem;
    margin-bottom: 1.5rem;
}
.about_section .left_section{
    position: relative;
    width: 37%;
    height: 70vh;
}
.left_section .about_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: -20px -20px #5f60b3;
    border-radius: 6px;
    border: 2px solid var(--tertiary);
    transition: all var(--ease_out);
}
.left_section .about_img:hover{
    box-shadow: -15px -15px #5f60b3;
}



.about_section .right_section{
    width: 48%;
    height: auto;
}
.right_section .desc{
    font-size: 1.1rem;
    color: var(--tertiary);
    font-weight: 500;
    letter-spacing: 0.01rem;
    line-height: 1.65rem;
    margin-bottom: 2.5rem;
}
.right_section .my_info{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 3.0rem;
}
.my_info .line{
    width: 100%;
    height: 1.5px;
    background: var(--primary);
}
.my_info .info_data{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem;
}
.info_data .info_box{
    background: var(--bg_color);
    color: var(--secondary);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 0.99rem;
}
.info_data .info_box i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--primary);
    box-shadow: 1px 1px 10px #5f60b3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.0rem;
    color: var(--bg_color);
}


/* Skill Section */
.skill_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.09);
}

.skill_section .skill_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 4.0rem;
}
.skill_box .skill_card{
    width: 50%;
    height: auto;
    background: var(--bg_color);
    padding: 40px;
    border-radius: 6px;
    box-shadow:  5px 5px 8px #111111,
                -5px -5px 8px #2c2c2c;
}
.skill_card .badge{
    width: 200px;
    height: auto;
    background: var(--primary);
    padding: 10px;
    font-size: 1.0rem;
    color: var(--bg_color);
    border-radius: 4px;
    margin-bottom: 2.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress_section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    margin-bottom: 1.7rem;
}
.progress_section .progress_data{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 0;
    margin-bottom: 0.2rem;
}
.progress_data .progress_title{
    font-size: 1.12rem;
    color: var(--secondary);
    font-weight: 500;
}
.progress_data .progress_count{
    font-size: 1.23rem;
    color: var(--primary);
    font-weight: 550;
}
.progress_section .progress{
    width: 100%;
    height: 14px;
    background: var(--tertiary);
    box-shadow: inset 8px 8px 10px rgba(0, 0, 0, 0.3),
                inset -8px -8px 10px rgba(255, 255, 255, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.progress .progress_bar{
    background: var(--primary);
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Service Section */
.service_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.service_section .service_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.service_box .service_card{
    width: 435px;
    height: auto;
    background: var(--bg_color);
    box-shadow: inset 3px 3px 7px #131313,
    inset -3px -3px 7px #404040;
    padding: 25px;
}

/* 
.shadow-inset {
    box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff!important;
}
 */



/*  */