/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

:root{
    --bg_color: #222222;
    --primary: #5f60b3;
    --secondary: #e7e7e7;
    --tertiary: #7d7d7d;
    --bg_gradient: radial-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.84));
    --ease_out: 0.5s ease-out;
}


/* Customized scrollbar */
::-webkit-scrollbar{
    width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track{
    background: #323232;
    opacity: 0.6;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb{
    background: #404040;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background: #3f3f3f;
}

/* ===================X Global Button Styling X=================== */
.primary_btn{
    background: var(--primary);
    border: 2px solid var(--primary);
    font-size: 1.1rem;
    color: var(--secondary);
    padding: 10px 20px;
    transition: var(--ease_out);
}
.primary_btn:hover{
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}
.secondary_btn{
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-size: 1.1rem;
    color: var(--secondary);
    padding: 10px 20px;
    transition: var(--ease_out);
}
.secondary_btn:hover{
    background: var(--primary);
    border: 2px solid var(--primary);
    color: var(--secondary);
}
.tertiary_btn{
    background: transparent;
    border: none;
    color: var(--primary);
    font-size: 1.15rem;
    color: var(--primary);
    padding: 10px 20px;
    transition: var(--ease_out);
}
.tertiary_btn:hover{
    color: var(--secondary);
    opacity: 0.65;
}


/* ===================X Main Section X=================== */

/* Main Section */
.main_section{
    width: 100%;
    min-height: 100vh;
    background: var(--bg_color);
    overflow: hidden;
}

nav{
    width: 100%;
    height: auto;
    padding: 25px 60px;
    border-radius: 0px;
    background: linear-gradient(225deg, #1f1f1f, #242424);
    box-shadow:  -2px 2px 14px #0e0e0e,
                 2px -2px 14px #363636;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2.0rem;
}
nav ul li a{
    color: var(--tertiary);
    font-size: 1.1rem;
    font-weight: 500;
    transition: var(--ease_out);
}
nav ul li a:hover{
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 500;
}
nav ul li .active{
    color: var(--primary);
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
}


/*  */