/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

:root{
    --bg_color: #222222;
    --primary: #5f60b3;
    --secondary: #e7e7e7;
    --tertiary: #7d7d7d;
    --bg_gradient: radial-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.84));
}


/* Customized scrollbar */
::-webkit-scrollbar{
    width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track{
    background: #323232;
    opacity: 0.6;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb{
    background: #404040;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background: #3f3f3f;
}


.main_section{
    width: 100%;
    min-height: 150vh;
    background: var(--bg_color);
    overflow: hidden;
}


/*  */